COMPOSE_PROJECT_NAME=sql-chat

# 你的 GEMINI_API_KEY (必填)
GEMINI_API_KEY=
GEMINI_API_KEY_1=

# 用於加密 Session 的密鑰 (必填，隨意設定一組長字串)
NEXTAUTH_SECRET=EASON-SECRET-123456

# 自定義 Endpoint
OPENAI_API_ENDPOINT=http://litellm:4000
OPENAI_API_KEY=sk-fake-key

# network gateway
NETWORK_SUBNET=192.168.101.0/24
NETWORK_GATEWAY=192.168.101.1

# 指定 LiteLLM 使用的模型 (SQL Chat 端設定為 gpt-3.5-turbo，由 LiteLLM 轉發)
OPENAI_CHAT_MODEL=gpt-3.5-turbo